<% provide(:title, @employee_profile.name) %>

<!-- USER INFO -->

  <div class="col-md-5">

        <h1><strong><%= @employee_profile.name %></strong></h1>
          <h3><small><%= @employee_profile.email %>     | <span id="user-role">  <strong><%= @employee_profile.role %></strong> </small></h3> 
          <h6><small>User Updated:<span id="updated-at"> <%= time_ago_in_words(@employee_profile.updated_at) %> ago</span></small></h6>
          </span>

<hr>
  <button type="button" class="btn btn-default btn-xs"><%= link_to "Edit User", user_path(@employee_profile.user) %></button>
           
    </p>
    </section>

                    <hr>

                    <!--tabs-->
                    <div class="panel">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#profile" data-toggle="tab"> Assignments </a></a></li>
                            <li><a href="#messages" data-toggle="tab">Timesheets</a></li>
                            <li><a href="#settings" data-toggle="tab">Settings</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active well" id="profile">
                                <h4><i class="glyphicon glyphicon-user"></i></h4> Lorem profile dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                                <p>Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi.</p>
                                
                                <div class="btn-group">
                                  <% @employee_profile.assignments.limit(5).each do |assignment| %>
     
                                  <button class="btn btn-default" data-toggle="modal" data-target="#assignment-<%= assignment.id %>-description">
                                  <strong><%= assignment.company_profile.name %></strong>  | <%=assignment.job_title %>
                                 </button>
                                  <%= render partial: 'shared/assignment_modal', locals: {assignment: assignment} %>
                          <% end %>

            </div>
          
                            </div>
                            <div class="tab-pane well" id="messages">
                                <h4><i class="glyphicon glyphicon-time"></i></h4> <strong>All Timesheets</strong>
                                <p>Payday is everything other Friday. You will quailify for {#} vacation days in {#} more hours.</p>
                                <% if @timesheets %>
                                <h4>Total Weeks Worked:</h4>
                                <div class="panel panel-primary">
                                  <% if @timesheets.current.any? %>
                                  <% @timesheets.current do |timesheet| %>
                                  
                                  
                                    
                                  
                                  <div class="panel-heading">Current Timesheet</div>
                                      <div class="panel-body">
                                         <%= render partial: 'timesheets/table', locals: {timesheet: timesheet} %>
                                      </div>
                                </div>
                                <% end %>
                                <% end %>
                                <%= @employee_profile.timesheets.count %>
                              
                              
                                    <% @timesheets.each do |timesheet| %>
                                    <%= timesheet.total_pay %>
                                    <%= timesheet.company_profile.name %>
                                    <%= timesheet.job_title %>
                                    
                                    <% end %>
                                    
                              <% end %>

                                
                            </div>
                            <div class="tab-pane well" id="settings">
                                <h4><i class="glyphicon glyphicon-cog"></i></h4> Lorem settings dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                                <p>Quisque mauris augue, molestie.</p>
                            </div>
                        </div>

                    </div>
                    <!--/tabs-->




          <hr>
          
<!--<% if @employee_profile.timesheets.any? %>-->
<!--    <div class="page-header">-->
<!--      <h3>Pay this week: <%= number_to_currency(@employee_profile.current_timesheet.gross_pay, :unit => "$") %> </h3>-->
<!--    </div>-->
<!--<% else %>-->
<!--<p>No timesheet for this week.</p>-->
<!--<% end %>-->
<!--<% if @employee_profile.timesheets.any? %>-->
<!--Your last timesheet was for the week of: <%= link_to @employee_profile.timesheets.last.created_at.strftime("%A - %m / %d "), timesheet_path(@employee_profile.timesheets.last) %>-->
<!--<% end %>-->



<!--<h3>All Assignments</h3>-->
<!--<% if @assignments %>-->
<!--<%= render 'assignments_table' %>-->
<!--<% end %>-->




<br>
<hr>
<small> This profile was created <%= time_ago_in_words(@employee_profile.created_at) %> ago</small>

