
<div class="panel-body">




<table class="table table-striped">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Employee Email</th>
      <th>SSN #</th>
      <th>Marital Status</th>
      <th>Created </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>

      <tr>
        <td><%= link_to employee.user.name, employee %></td>
        <td><%= employee.user.email %></td>
        <td><%= employee.ssn %></td>
        <td><%= employee.marital_status %></td>
        <td><%= time_ago_in_words(employee.created_at) %></td>
        
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_profile_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

</div>

