<% provide(:title, "Dashboard") %>
<div class="center jumbotron">
  <% if @current_user.agency? %>
  
<ul id="menu">
  <%= content_tag_for(:li, @companies) do |company| %>
  <%= company.name %>
<ul class="list-group">
 

  <% company.job_orders.each do |jo| %>
  <% if jo.needs_attention? %>
  <li class="list-group-item list-group-item-danger"><span class="label label-danger"><%= jo.needed %> | <%= jo.assignments.count %></span><%= link_to jo.job_title, jo %>
  <% else %>
  <li class="bg-default"><span class="label label-success"> <%= jo.needed %> </span> <%= link_to jo.job_title, jo %>
  <% end %>
  <ul>
    <% jo.assignments.each do |assignment| %>
    <li><%= link_to assignment.employee_profile.name, assignment %></li>
    <% end %>
    </ul>
  </li>

    <% end %>
</ul>
<% end %>
</ul>
</div>
<% end %>