<% provide(:title, "Dashboard") %>
<div class="center jumbotron">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
        <li role="presentation"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation" class="dropdown-header"><a><%= link_to 'New Assignment', new_assignment_path, :remote => true, :id => "new_assignment_link" %></a></li>
    </ul>

             
<% if @user.employee? %>
<div class="job-order-buttons">
  <% @job_orders.each do |job_order| %>
<!-- Button trigger modal -->
<%= tag("button", type: 'button',  class: ["btn", "btn-default", "btn-xs"], data: {toggle: 'modal', target: job_order.id}) %>

<%= job_order.job_title %>
</button>





</div>


<!-- Modal -->

<%= tag("div", class: ["modal", "fade"], id: job_order.id, tabindex: "-1", role: "dialog", :aria => {:labelledby => "#{job_order.job_title}", :hidden => "true"}) do %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= tag("h4", class: "modal-title", id: job_order.id) do %>
        <%= job_order.job_title %></h4>
        <% end %>
      </div>
      <div class="modal-body">
        <p><strong>Job Title:</strong> <%= link_to job_order.job_title, company_profile_job_orders_path(job_order.company_profile, job_order) %> | Current Status: <%= job_order.state.titleize %></p>
        <p>People Needed: <%= job_order.needed %> | Currently Assigned: <%= job_order.assignments.count %></p>
        <% if job_order.assignments.any? %>
        <ol>
        <% job_order.assignments.each do |assignment| %>
        
            <strong><li>Employee: <%= link_to assignment.employee.name, assignment.employee %>  </strong><br>
            <small>Number of Shifts: <%= assignment.shifts.count %> | Date Assigned: <%= assignment.created_at.strftime("%m / %d ") %>
            <br>Hours Today: <%= assignment.hours_today %> | Hours Last Week: <%= assignment.hours_last_week.round(2) %>
            </small><button><%= link_to "View Assignment", assignment %></button>
            </li>
            <br>
            <% end %>
        </ol>

        
        <p>Needs Attention: <%= job_order.needs_attention? %>    |     ASAP Order?:  <%= job_order.asap? %></p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>

<% end %>
  <% end %>



















        



<% if @user.company? %>
  <h2 class="page-header"><%= @company.name %></h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="sub-header">All Employees</h3>
    </div>
  </div>

<%= render "table" %>
<% end %>





<br>
<% if @user.agency? %>
<div class="panel panel-default">
  <h3 class="page-header">Agency View</h3>
  <div class="panel-heading">
    <h3 class="sub-header"> ALL Active Job Orders</h3>

<% @active_job_orders.each do |active| %> 
<ul class="list-group">

 <strong><%= active.company_profile.name %> </strong> <br>
  <li class="list-group-item">
    <small><%= active.job_title %></small></li>
  <li class="list-group-item">
    <small> ASAP?: <%= active.asap %></small></li>
  <li class="list-group-item">
    <small> People Needed: <%= active.needed %></small></li>
  <li class="list-group-item">
  <small> People Assigned: <%= active.employee_profiles.count %></small>
  </li>


<% end %>
</ul>
  </div>
</div>
<% end %>
</div>
