<h1 class="dragme"><%= @agency_profile.name %></h1>
<% if @profile == @agency_profile %>
<h3>Welcome to your agency profile, <%= current_user.name %></h3>
<% end %>














<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h3>All Companies</h3>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <!--Companies Table-->
        <% if @company_profiles %>
        <%= render 'company_profiles/table' %>
        <% else %>
        No Companies Available.
        <% end %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3><%= @agency_profile.name %> Job Orders</h3>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <% if @job_orders %>
        <!--Job Orders Table-->
        <%= render 'job_orders/table' %>
        <% else %>
        No Job Orders Available.
        <% end %>
      </div>
    </div>
  </div>
  

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h3><%= @agency_profile.name %> Timesheets</h3>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
          <% if @timesheets %>
        <!--Timesheets Table-->
        <%= render 'timesheets/table' %>
        <% else %>
        No Timesheets Available.
        <% end %>
        
      </div>
    </div>
  </div>

</div>