<%= simple_form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  


    <%= f.grouped_collection_select :job_order_id, @company_profiles, :job_orders, :company_name, :id, :job_title, prompt: "Select Job Order", label: false, required: true   %>
    <br< |
    
    <%= f.collection_select :employee_profile_id, @employee_profiles, :id, :name, prompt: "Select Employee", label: false, required: true  %>
    <hr>
    <%= f.input :pay_rate, as: :currency, placeholder: "Enter Pay Rate", label: false, required: true %>
    <%= f.input :bill_rate, as: :currency, placeholder: "Enter Bill Rate", label: false, required: true %>

    <%= f.button :button, "Save".html_safe, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>

<% end %>


