<div class="col-md-4">
<% if @assignments.any? %>
<table id="assignments-table" class="table table-hover">
  <thead>
    <tr>
      <th>Job Title</th>
      <th>Employee</th>
      <th>Company</th>
      <th>Pay rate</th>
      <th>Bill rate</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>

      <% if assignment.current_shift != nil %>
    <%= content_tag_for(:tr, assignment, class:"list-group-item list-group-item-danger") do %>
        <td><span class="label <%= assignment.current_shift != nil ? 'label-success' : 'label-warning' %>"></span>Green means clocked in</td>
        <td><%= link_to assignment.job_title, assignment %></td>
        <td><%= link_to assignment.employee.name, assignment.employee %></td>
        <td><%= link_to assignment.company, assignment.company_profile %></td>
        <td><%= number_to_currency(assignment.pay_rate, :unit => "$") %></td>
        <td><%= number_to_currency(assignment.bill_rate, :unit => "$") %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) if can? :update, assignment %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, assignment %></td>
        <% end %>

    <% end %>

        <% end %>
  </tbody>
</table>
<% else %>
No Assignments
<% end %>
</div>
