<h3>Listing assignments</h3>


<% if @assignments %>
<table class="table">
  <thead>
    <tr>
      <th>Job Title</th>
      <th>Employee</th>
      <th>Company</th>
      <th>Pay rate</th>
      <th>Bill rate</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
      
        <td><%= link_to assignment.job_title, assignment %></td>
        <td><%= link_to assignment.employee.name, assignment.employee %></td>
        <td><%= assignment.company %></td>
        <td><%= assignment.pay_rate %></td>
        <td><%= assignment.bill_rate %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
No Current Job Orders.
<% end %>

<br>

<%= link_to 'New Assignment', new_assignment_path, :remote => true, :id => "new_assignment_link" %>
 