<p id="notice"><%= notice %></p>

<p>
  <strong>Employee profile:</strong>
  <%= @assignment.employee_profile.name %>
</p>


  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary"><a><%= link_to "Clock In to this Assignment", new_assignment_shift_path(@assignment) %></a></button>
  </div>


<p>
  <strong>Job title:</strong>
  <%= @assignment.job_order.job_title %>
</p>

<p>
  <strong>Company</strong>
  <%= @assignment.job_order.company_profile.name %>
</p>



<p>
  <strong>Pay rate:</strong>
  <%= @assignment.pay_rate %>
</p>

<p>
  <strong>Bill rate:</strong>
  <%= @assignment.bill_rate %>
</p>
<hr>
<% if @assignment.shifts != nil %>
  <% @assignment.shifts.each do |shift| %>
 <br>
   <% if shift.time_in != nil %>
  In: <%=shift.time_in.strftime("%B %e, %Y at %I:%M %p") %> |
    <% end %>
    <% if shift.time_out != nil %>
  Out: <%=shift.time_out.strftime("%B %e, %Y at %I:%M %p") %>  |
  Hours: <%= shift.hours_worked %>
    <% end %>
  <% end %>
<% else %>

<% end %>
<br>
<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
