<div class="field">

  <%= f.attribute_fields do |a| %>
    <%= a.attribute_select associations: [:company_profile, :assignments] %>
  <% end %>
  <%= f.predicate_select %>
  <%= f.value_fields do |v| %>
    <%= v.text_field :value, placeholder: " Search..." %>
  <% end %>
  <button><%= link_to "remove", '#', class: "remove_fields" %></button>
</div>