<div class="job-order-form">
<!--ERRORS-->
  <% if @job_order.errors.any? %>
    <div id="error_explanation">
      
      <h2><%= pluralize(@job_order.errors.count, "error") %> prohibited this job_order from being saved:</h2>

      <ul>
      <% @job_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<!--FORM-->

  
<%= simple_form_for @job_order do |f| %>
    <%= f.association :company_profile, prompt: "Select Company", label: false %>


    <%= f.input :job_title %>
    <%= f.input :job_description, as: :text, placeholder: "Job Description" %>
    
    <%= f.text_field :fill_date, label: "Needed by:", placeholder: "Select start date" %>
    <%= f.input :est_pay, as: :currency %>
    
    <%= f.input :est_bill, as: :currency %>
<hr>
<h4>Current Assignments</h4>
    
     <%= f.simple_fields_for :assignments do |assignment| %>
    <%= assignment.association :employee_profile %>
    <%= assignment.input :pay_rate, as: :currency %>
    <%= assignment.input :bill_rate, as: :currency %>

    <% end %>
    <hr>
    <%= f.association :agency_profile, prompt: "Select Agency", label: false %>
    <%= f.association :account_manager, prompt: "Account Manager", label: false %>
    
    

    
<hr>



    <%= f.input :asap, inline_label: 'Is this an ASAP order?' %>
    
    <%= f.input :needed, collection: 1..10, prompt: "How many positions are needed?" %>
    
    
    
  
    <%= f.button :button, "Submit Order".html_safe, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving..."} %>

<% end %>
</div>
