<div class="jumbotron-center">
<div class="col-md-5">
<div class="job-order-form">
<%= simple_form_for [@job_order.company_profile, @job_order] do |f| %>
  <% if @job_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_order.errors.count, "error") %> prohibited this job_order from being saved:</h2>

      <ul>
      <% @job_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="field-set">
    <%= f.input :job_title %>

    <%= f.input :job_description %>

    <%= f.date_field(:fill_date) %>
  <div class="field">
    <%= f.label :needed, "How many positions needed?" %><br>
    <%= f.number_field(:needed, in: 1..10) %>
  </div>
  <div class="field">
    <%= f.label :asap, "Needed ASAP?" %><br>
    <%= f.check_box(:asap) %>
  </div>
  <%= f.fields_for :assignments do |builder| %>
    <%= render "assignment_fields", f: builder %>
  <% end %>
</div>
  

  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>