<% if @q %>


<div class="col-md-2">
  <%= search_form_for @q, url: search_job_orders_path, method: :post do |f| %>
  <div class="field">
        <h3><small>Search by:</small></h3>
  <%= f.condition_fields do |c| %>
  
    <%= render "condition_fields", f: c %>
  <% end %>
  <br>
  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
  <hr>
  <div class="actions"><%= f.submit "Search" %></div>
  </div>
</div>

<div class="col-md-2">
  <div class="field">
    <h3><small>Sort by:</small></h3>
    <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
    <% end %>
  </div>

</div>

<% end %>


<% end %>





<% if can? :create, JobOrder %>
  <button class="btn btn-default">
  <%= link_to 'New Job Order', new_job_order_path %>
</button>
<% end %>
<%= render 'company_profiles/job_orders' %>



