<p id="notice"><%= notice %></p>

<p>
  <strong>Job title:</strong>
  <%= @job_order.job_title %>
</p>

<p>
  <strong>Company profile:</strong>
  <%= @job_order.company_profile.name %>
</p>

<p>
  <strong>Fill date:</strong>
 <%= @job_order.fill_date.strftime("%A - %m / %d ") %>
</p>



<h3>Job Order Totals </h3>
 <strong>Total Regular Hours:</strong>
  <%= @job_order.total_order_reg_hours %> <br>
  <strong>Total Overtime Hours:</strong>
  <%= @job_order.total_order_ot_hours %><br>

    
 <strong>Total Gross Bill:</strong>
  <%= number_to_currency(@job_order.total_bill_amount, :unit => "$") %>
  <br>
  <strong>Total Gross Pay:</strong>
  <%= number_to_currency(@job_order.total_pay_amount, :unit => "$") %>
  <br>
 
<hr>
<h3><strong><%= @job_order.assignments.count %></strong> Employees are assigned to this Job Order. </h3>
<br>
<ul>
<% if @job_order.assignments != nil %>
  <% @assignments.each do |assignment| %>

  <div class="assignment">
    <li> Employee: <%= link_to assignment.employee.name, employee_profile_path(assignment.employee) %>
    <br>| Pay: <%= assignment.pay_rate %> | Bill: <%= assignment.bill_rate %> |</li>
    <small>Assigned: <%= assignment.created_at.strftime("%B %e, %Y ") %></small>
    <button>
  <%= link_to 'View Assignment', assignment_path(assignment) %>
</button><br>
<small>   <strong>Total Regular Hours: </strong><%= assignment.total_reg_hours %></small><br>
<small>   <strong>Total Overtime Hours: </strong><%= assignment.total_ot_hours %></small><br>
<small>   <strong>Total Gross Bill: </strong><%= number_to_currency(assignment.gross_assignment_bill, :unit => "$") %></small><br>
<small>   <strong>Total Gross Pay: </strong><%= number_to_currency(assignment.gross_assignment_pay, :unit => "$") %></small>
  </div>
<br>
  <% end %>
<% end %>
</ul>
<button>
  <%= link_to 'New Assignment', new_assignment_path, :remote => true, :id => "new_assignment_link" %>
</button>

<button>
  <%= link_to 'Edit', edit_company_profile_job_order_path(@job_order.company_profile, @job_order) %>
</button>

<button class="btn btn-default">
  <%= link_to 'Back', company_profile_job_orders_path %>
</button>

