<%= content_tag_for(:li, user) do %>
 <%= gravatar_for user, size: 40 %> 
   <h5> <strong><%= link_to user.name, user %></strong><br>
   
    <small>  <%= user.role.titleize %> | <%= user.email %> </small></h5>
    
<% end %>
