<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.input :first_name %>
      <%= f.input :last_name %>

      <%= f.input :email %>
      
      <% if @user.profile_type == "AgencyProfile" %>
        <%= f.input :profile_id, collection: AgencyProfile.all %>
        <%= f.input :role, collection: [ "Agency Owner", "Payroll", "Recruiter", "Account Manager", "Sales Support", "Agency Super", "Admin Team" ] %>
      <% end %>
      
      <% if @user.profile_type == "CompanyProfile" %>
        <%= f.input :profile_id, collection: CompanyProfile.all %>
        <%= f.input :role, collection: [ "Company Owner", "Company Super", "HR"] %>
      <% end %>
      
      <% if @user.profile_type == "EmployeeProfile" %>
        <%= f.input :profile_id, collection: EmployeeProfile.all %>
        <%= f.input :role, collection: [ "Employee"] %>
      <% end %>



      <%= f.label :password, "Set New Password" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target=_blank>change</a>
    </div>
  </div>
</div>