<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
   
        <%= gravatar_for @user %>
        <h3><%= @user.name %></h3>
        <hr>
        <span id="user-profile-id"><%= @user.profile_id %></span>
        <span id="user-role"><%= @user.role %></span>

        <span id="updated-at"> <%= time_ago_in_words(@user.updated_at) %> ago</span>
        <span id="<%= @user.id %>"><%= @user.admin %></span>
        
        <%= link_to "Make Admin", make_admin_user_path(@user), method: :patch, remote: true %>
      
    </section>
  </aside>
  <span id="user-profile-type"><%= @user.profile_type %></span>
  <% if @user.company? %>
  <button type="button" class="btn btn-default"><%= link_to "Go To Company Page", company_profile_path(@user.profile) %></button>
  <% end %>
    <% if @user.employee? %>
  <button type="button" class="btn btn-default"><%= link_to "Go To Employee Page", employee_profile_path(@user.profile) %></button>
  <% end %>
</div>


