<% if @profile == @company_profile %>
<h1>This is your company profile!</h1>This is your company profile!
<% end %>
<div class="col-md-4"><h3><%= @company_profile.company_name %></h3>
  <div class="panel panel-default">
     <strong><%= @company_profile.company_name %></strong>
     <%= time_ago_in_words(@company_profile.created_at) %><br>
      Number of Timesheets: <%= @company_profile.timesheets.count %>
            <div class="panel-body">
                <% if @company_profile.company_admin %>
                <p>Company Admin: <%= link_to @company_profile.company_admin.name, @company_profile.company_admin %> | Admin ID: <%= @company_profile.company_admin.id %></p>
                <p>Company Email: <%= @company_profile.company_admin.email %></p>
                <% else %>
                <p> No Company Admin has been assigned </p>
                <% end %>
            </div>
    </div>
</div>

    <% if @job_orders.any? %>
  <div class="col-md-6">
      <h3>Active Job Orders</h3>
    <ul class="list-group">
        <% @company_profile.job_orders.active.limit(5).each do |job_order| %>

      <%= render partial: 'job_order', locals: {job_order: job_order} %>
    </ul>
      <% end %>

    <% end %>

<hr>

    <% if @assignments.any? %>
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= @company_profile.name %>'s Employees</h4>
        </div>
        <div class="panel-body">
            <ul class="list-group">
              <% @company_profile.assignments.each do |assignment| %>
                  <%= render partial: 'assignments/list', locals: {assignment: assignment} %>
              <% end %>
            </ul>
        </div>
      </div>
       <% end %> 
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= @company_profile.name %>'s Users</h4>
         </div>
        <div class="panel-body">
            <ul class="list-group">
              <% @company_profile.users.each do |user| %>
                  <%= render partial: 'user', locals: {user: user} %>
              <% end %>
            </ul>
        </div>
      </div>
  </div>
    
    
    
</div>
    
    

<div class="col-md-4">
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><a><%= link_to "New Job Order", new_company_profile_job_order_path(@company_profile) %>   </a></button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"><a><%= link_to "Current Job Orders", company_profile_job_orders_path(@company_profile) %> </a>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Inactive Job Orders</button>
  </div>
</div>
</div>        
        





