<h3>Listing shifts for: </h3>
<p>Company: <strong> <%= @assignment.company %></strong></p>
<p>Employee: <strong> <%= @assignment.employee.name %></strong></p>
<p>Job Title: <strong> <%= @assignment.job_title %></strong></p>
<p>Pay: <strong> <%= number_to_currency(@assignment.pay_rate, :unit => "$") %></strong></p>
<p>Bill: <strong> <%= number_to_currency(@assignment.bill_rate, :unit => "$") %></strong></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Status</th>
      <th>Shift ID</th>
      <th>Week</th>
      <th>Work Day</th>
      <th>Work Date</th>
      <th>Job Title</th>
      <th>Time In</th>
      <th>Time Out</th>
      <th>Hours Worked</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shifts.each do |shift| %>
    <tr>
      <td><span class=" <%= shift.state == 'clocked_in' ? 'primary' : 'warning' %>"></span><%= shift.state %></td>
        <td class="success"><%= shift.id %> </td>
        <td class="success"><%= shift.week %> </td>
        <td class="success"><%= shift.time_in.strftime("%A") %> </td>
        <td class="success"><%= shift.time_in.strftime("%m / %d ") %> </td>
        <td class="success"><%= shift.assignment.job_title %> </td>
        <td class="success"><%= shift.time_in ? shift.time_in.strftime("%I:%M %p") : "No clock in time" %></td>
        <td class="success"><%= shift.time_out ? shift.time_out.strftime("%I:%M %p") : shift.state %></td>
        <td class="success"><%= shift.hours_worked ? shift.hours_worked.round(2).to_f : shift.state %></td>

        <td><%= link_to 'Show', assignment_shift_path(shift.assignment, shift) %></td>
        <td><%= link_to 'Edit', edit_assignment_shift_path(shift.assignment, shift) %></td>
        <td><%= link_to 'Destroy', assignment_shift_path(shift.assignment, shift), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<button type="button" class="btn btn-default"><%= link_to "Back to Assignment", assignment_path(@assignment) %></button>
<br>

