

<table  >
  <thead>
    <tr>
      <th>Week</th>
      <th>Employee</th>
      <th>Company</th>
      <th>Status</th>
      <th>Regular Hours</th>
      <th>Overtime Hours</th>
      <th>Gross Pay</th>
      <th>Gross Bill</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @timesheets.each do |timesheet| %>
    <tr>
<% content_tag(:td, timesheet, :class => ('success' if timesheet.current?)) %>

        <td><%= link_to timesheet.employee, timesheet.employee_profile %></td>
        <td><%= timesheet.week %></td>
        <td><%= link_to timesheet.employee, timesheet.employee_profile %></td>
        <td><%= link_to timesheet.company, timesheet.company_profile %></td>
        <td id="timesheet-status"><%= timesheet.state %></td>
        <td><%= timesheet.reg_hours.round(2).to_f %></td>
        <td><%= timesheet.ot_hours.round(2).to_f %></td>
        <td><%= number_to_currency(timesheet.gross_pay, :unit => "$") %></td>
        <td><%= number_to_currency(timesheet.gross_bill, :unit => "$") %></td>
        <td><button id="approve-button"><%= link_to 'Approve', approve_timesheet_path(timesheet), remote: true, method: :patch %></button></td>

        <td><%= link_to 'Show', timesheet %></td>
        <td><%= link_to 'Edit', edit_timesheet_path(timesheet) %></td>
      <% end %>
      <tr>
  </tbody>
</table>

<br>

