<!DOCTYPE html>
<html>
  <head ng-app="app">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
      <%= render 'layouts/header' %>
      

  <body>
      <div id="wrapper">
    <% if current_user.present? %>
        <div id="sidebar-wrapper">
          <%= render 'layouts/sidebar' %>
        </div>
    <% end %>
          
        <div id="page-content-wrapper">
          <%= yield %>
        </div>
          
          
      </div>
    
    
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
    

          
          

      <!--<%= debug(params) if Rails.env.development? %>-->
    </div>
  </body>
</html>